@import "tailwindcss";

html,
body {
  height: 100%;
}

body {
  margin: 0;
}
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #ff5e1e;
  border-radius: 9999px;
}

.brand-logo {
  font-weight: 700;
  letter-spacing: 0.14em;
  line-height: 0.9;

  /* HUGE hero title */
  font-size: clamp(80px, 14vw, 150px);

  /* broken red */
  background:
    linear-gradient(180deg, #ff6a2a 0%, #c72c00 45%, #6b1200 100%),
    repeating-linear-gradient(
      -45deg,
      rgba(0, 0, 0, 0.35),
      rgba(0, 0, 0, 0.35) 1px,
      transparent 1px,
      transparent 4px
    );

  background-blend-mode: multiply;
  background-size: 100% 100%, 6px 6px;

  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;

  text-shadow:
    0 3px 0 rgba(0,0,0,0.6),
    0 25px 50px rgba(0,0,0,0.8);

  filter: contrast(1.3) saturate(1.2);
}
